/* selectors - element */
body {
  background-color: blanchedalmond;
}
h1 {
  background-color: rgb(236, 76, 19);
  color: blueviolet;
}
p {
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  color: green;
}

figure {
  /* float: right; */
  /* display: inline-block; */
  border: 1px dotted gray;
  margin: 20px; /* adjust as needed */
}
.fig {
  /* float: right; */
  /* margin-bottom: 20em; */
  /* width: 10% */
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
}
figure img {
  vertical-align: top;
}
figure figcaption {
  border: 1px dotted blue;
  text-align: center;
}
table {
  /* border: darkblue; */
  /* border-inline-width: 1px; */
  border-color: blue;
  border-style: dashed;
  border-width: 0cqi;
  /* border-radius: 2px; */
  width: 100%;
  max-width: 600px;
}
th {
  background-color: green;
  text-align: left;
}

/* #profilepic {
  background-color: aqua;
  float: right;
  width: 50%;
  align-items: flex-end;
  justify-content: flex-end;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
} */
.pimage {
  /* text-align: center;
  float: right;
  position: relative;
  display: flex; */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* multiple  */
h2,
h3,
p {
  /* background-color: aqua; */
  color: black;
}
/* class selector */
.redtext {
  color: red;
  background-color: beige;
}
/*  id selector */
#mypara {
  color: darkblue;
}
#top {
  color: darkblue;
  flex-direction: column;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  position: relative;
}

h5 {
  background-color: goldenrod;
}
div h5 {
  background-color: deeppink;
}

div > h5 {
  background-color: yellow;
}
