/* selectors - element */
body {
  background-color: blanchedalmond;
}
h1 {
  background-color: rgb(236, 76, 19);
  color: blueviolet;
}
p {
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  color: green;
}

figure {
  /* float: right, */
  display: inline-block;
  border: 1px dotted gray;
  margin: 20px; /* adjust as needed */
}
figure img {
  vertical-align: top;
}
figure figcaption {
  border: 1px dotted blue;
  text-align: center;
}
table {
  border: darkblue;
  border-inline-width: 1px;
  border-color: blue;
  border-radius: 2px;
  width: 100%;
  max-width: 600px;
}
th {
  background-color: green;
  text-align: left;
}

#profilepic {
  float: right;
  /* width: 50%; */
}

/* multiple  */
h2,
h3,
p {
  /* background-color: aqua; */
  color: black;
}
/* class selector */
.redtext {
  color: red;
  background-color: beige;
}
/*  id selector */
#mypara {
  color: darkblue;
}
#top {
  color: darkblue;
  flex-direction: column;
}

h5 {
  background-color: goldenrod;
}
div h5 {
  background-color: deeppink;
}

div > h5 {
  background-color: yellow;
}
